name: Acquire activation file
on: [push]
jobs:
  activation:
    name: Request manual activation file
    runs-on: ubuntu-latest
    steps:
      # Request manual activation file
      - name: Request manual activation file
        id: mArIoID
        uses: webbertakken/unity-request-manual-activation-file@v1.1
        with:
          unityVersion: 2020.1.14f1
